img[src="images/logo.png"] {
    max-width: 50px;
    max-height: 50px;
}

h1 {
    font-family: "anton", sans-serif;
    font-size: 4em;
}

h2 {
    font-family: "anton", sans-serif;
    font-size: 2em;
}

h3{
    font-family: "anton", sans-serif;
    font-size: 1.3em;
}

h4 {
    font-family: "anton", sans-serif;
    margin: auto;
    padding: 0;
    font-size: .75em;
}

p {
    font-family: abel, sans-serif;
    font-size: 0.85em;
}

#circle1 {
    font-family: "anton", sans-serif;
    background-color: #e6563b;
}

#circle2 {
    font-family: "anton", sans-serif;
    background-color: #eb9d3a;
}

#circle3 {
    font-family: "anton", sans-serif;
    background-color: #7cb06c;
}

#circle4 {
    font-family: "anton", sans-serif;
    background-color: #00aba9;
}

#media img {

    width: 100%;
    height: auto;
}

#circles > * {
    height: 80px;
    width: 80px;
}

.mini1 {
    display: flex;
    height: 18px;
    width: 18px;
    background-color: #e6563b;
}

.mini2 {
    display: flex;
    height: 18px;
    width: 18px;
    background-color: #eb9d3a;
}

.mini3 {
    display: flex;
     height: 18px;
    width: 18px;
    background-color: #7cb06c;
}

.mini4 {
    display: flex;
     height: 18px;
    width: 18px;
    background-color: #00aba9;
}

#right-column img {
    width: 70px;
    height: 70px;
    margin-right: 1em;
}